/* FileUpload.css */

.container {
    background-color: #fff; /* Light yellow background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 .7rem -.1rem rgba(0, 0, 0, 0.09);
    max-width: 500px;
    margin: 0 auto;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.2);
    font-family:16 px rubix,sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .file-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-right: 10px;
  }
  
  .submitbutton{
    margin:auto;
    padding: 10px 45px;
  }
  button {
    background-color: #fdd831; /* Black background */
    color: #fff; /* White text */
    border: none;
    max-width:100px;
    padding: 9.6px 12.8px;
    cursor: pointer;
    font-size: 16px;
    color:#5a4a06;
    border-radius: 5rem;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  button[type="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 5px 5px;
    margin-top: 15px;
    color:#5a4a06;
    border-radius: 5rem;
    max-width:100px;
  }
  
  button:hover {
    box-shadow: 0 0 10px rgba(255, 235, 59, 0.5); /* Darker black on hover */
  }
  
  h2 {
    color: #000; /* Black text */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #ffeb3b; /* Yellow background for list items */
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  .container:hover{
    box-shadow:0 0 20px rgba(0, 0, 0, 0.2);
  }